<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ceritadongeng.dongenganakindonesia.dongeng">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Main2">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".base.BaseActivity"
            android:theme="@style/Main2"/>
        <activity android:name=".ui.MenuActivity"/>

        <activity android:name=".ui.Detail_Cerita_Activity"/>
        <activity android:name=".ui.CeritaActivity"/>
        <activity android:name=".ui.CeritaBokmarkActivity"/>
        <activity android:name=".ui.InterestialLogout"/>
        <activity android:name=".ui.SearchListActivity"/>
    </application>

</manifest>